version: '3.1'
services:
  # 데이터베이스 서비스 정의
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/create.sql:/docker-entrypoint-initdb.d/create.sql
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 웹 애플리케이션 서비스 정의
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      - TZ=Asia/Seoul      # ✅ 여기 추가!
    volumes:
      - .:/app

# Docker 볼륨 정의
volumes:
  db_data:
