
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>환영합니다, {{ username }}님!</h1> <!-- username 변수는 main_routes.py에서 선언된 변수-->
        <p>성공적으로 로그인되었습니다.</p>
        <a href="{{ url_for('auth.logout') }}"><button>로그아웃</button></a>
    </div>
</body>
</html>
